<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historia del Vino</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="history fade-in">
  <!-- Sección con la historia del vino -->
  <section class="history-section">
    <img src="{{ url_for('static', filename='pagina.png') }}" alt="Historia del vino" class="history-image">
  </section>

  <!-- Cargar el script para transiciones -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
