<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historia de la Garnacha</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="history">
  <div class="history-content">
    <img src="{{ url_for('static', filename='pagina.png') }}" alt="Etiqueta de vino Garnacha" class="etiqueta-vino">
    <div class="texto-historia">
      <p>Texto sobre la historia del vino Garnacha aquí...</p>
    </div>
  </div>
</body>
</html>
