<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Viejo Almacén de Sauzal</title>
  <meta name="description" content="Descubre nuestra historia y productos en la página web">
  <meta property="og:title" content="El Viejo Almacén de Sauzal">
  <meta property="og:description" content="Descubre nuestra historia y productos en la página web">
  <meta property="og:url" content="https://elviejoalmacendesauzal.com">
  <meta property="og:image" content="https://elviejoalmacendesauzal.com/static/images/logo.png">
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script>
    function toggleMenu() {
      var menu = document.getElementById("menu");
      var header = document.querySelector("header");

      if (menu.style.width === "250px") {
        menu.style.width = "0";
        header.classList.remove("header-hidden"); /* Mostrar la barra superior */
      } else {
        menu.style.width = "250px";
        header.classList.add("header-hidden"); /* Ocultar la barra superior */
      }
    }
  </script>
</head>
<body class="fade-enter">
  <!-- Menú de 3 barras -->
  <div id="menu" class="sidemenu">
    <a href="{{ url_for('quienes_somos') }}">QUIÉNES SOMOS</a>
    <a href="{{ url_for('nuestros_vinos') }}">NUESTROS VINOS</a>
    <a href="{{ url_for('contacto') }}">CONTACTO</a>
    
    <div class="social-section">
      <span class="social-text">VISITA NUESTRAS REDES</span>
      <!-- Logos de redes sociales -->
      <div class="social-icons">
        <a href="https://www.facebook.com/sofia.tejos" target="_blank">
          <img src="{{ url_for('static', filename='fb.png') }}" alt="Facebook" class="social-icon">
        </a>
        <a href="https://www.instagram.com/huasodesauzal/?hl=es" target="_blank">
          <img src="{{ url_for('static', filename='ig.png') }}" alt="Instagram" class="social-icon">
        </a>
        <a href="https://wa.me/+56998186847" target="_blank">
          <img src="{{ url_for('static', filename='whatsapp.png') }}" alt="WhatsApp" class="social-icon">
        </a>
      </div>
    </div>
  </div>

  <!-- Botón para abrir/cerrar el menú -->
  <div class="menu-btn" onclick="toggleMenu()">
    <span class="menu-text">MENÚ</span> <span class="bars">&#9776;</span>
  </div>

  <!-- Logo en el centro -->
  <header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Huaso de Sauzal" class="logo">
  </header>

  <!-- Imagen de fondo con texto superpuesto -->
  <section class="hero">
    <div class="filtro-contenedor">
      <!-- Filtro en la imagen -->
      <div class="filtro-imagen"></div>
      <!-- Texto que no será afectado por el filtro -->
      <div class="texto-overlay">
        <span class="linea-1">EL VIEJO ALMACÉN</span>
        <span class="linea-2">DE SAUZAL</span>
      </div>
    </div>
  </section>


  <!-- Caja blanca entre las dos imágenes -->
  <section class="content-box">
    <div class="white-box">
      <div class="box-content">
        <!-- Envolver el texto en una etiqueta <a> -->
        <a href="{{ url_for('nuestros_vinos') }}" class="box-link">
          <h2 class="box-title">CONOCE NUESTROS VINOS</h2>
        </a>
        <img src="{{ url_for('static', filename='chilena.webp') }}" alt="Botella de Vino" class="botella-img">
      </div>
    </div>
  </section>

  <section class="extra-background">
    <img src="{{ url_for('static', filename='Fondo.jpg') }}" alt="Nueva imagen de fondo" class="extra-image">
    
    <!-- Texto superpuesto alineado a la izquierda -->
    <div class="extra-text-overlay">
      <span class="linea-1">DESCUBRE</span>
      <span class="linea-2">NUESTRA HISTORIA</span>
    </div>
  </section>

  <!-- Nueva imagen que reemplaza la caja con texto superpuesto -->
  <section class="extra-background2">
    <img src="{{ url_for('static', filename='Renán - copia.jpg') }}" alt="Nueva imagen de fondo 2" class="extra-image2">
    
    <!-- Texto superpuesto alineado a la izquierda -->
    <div class="extra-text-overlay2">
      <span class="linea-1">VISITA</span>
      <span class="linea-2">NUESTRAS REDES SOCIALES</span>
    </div>
  </section>



  <!-- Barra inferior con texto -->
  <footer class="footer-bar">
    <p>EL VIEJO ALMACÉN DE SAUZAL © - 2024</p>
  </footer>

   <!-- JavaScript to handle scroll and add 'appear' class to both elements -->
   <script>
    window.addEventListener('scroll', function() {
      var whiteBox = document.querySelector('.white-box');
      var extraImage = document.querySelector('.extra-image');
      var extraImage2 = document.querySelector('.extra-image2'); // Nueva imagen para la sección extra-background2
      
      // Obtener las posiciones de ambas imágenes
      var boxPosition = whiteBox.getBoundingClientRect().top;
      var imagePosition = extraImage.getBoundingClientRect().top;
      var imagePosition2 = extraImage2.getBoundingClientRect().top; // Posición de la nueva imagen
  
      // Ajustar el umbral para activar la transición
      var screenPosition = window.innerHeight / 1.2;
  
      // Activar la clase 'appear' cuando los elementos estén visibles
      if (boxPosition < screenPosition) {
        whiteBox.classList.add('appear');
      }
  
      if (imagePosition < screenPosition) {
        extraImage.classList.add('appear');
      }
  
      if (imagePosition2 < screenPosition) { // Activar la transición de la nueva sección
        extraImage2.classList.add('appear');
      }
    });
  </script>
  

</body>
</html>


